@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,600&family=Great+Vibes&family=Pacifico&family=Source+Sans+Pro:wght@400;600&display=swap');

:root {
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Great Vibes', cursive;
    font-family: 'Pacifico', cursive;
    font-family: 'Source Sans Pro', sans-serif;
    --back-color: #f0f0dd;
    --text-color: #335544;
    --accent-color: #ff8866;
    --accent-hover-color: #ff4433;
    --back2-color: #99CC88;
    --light-color: #FFFFFF;
    --bs-body-line-height: 1.0;
}

* {
    padding: 0px;
    margin: 0px;
}

.base__button {
    background-color: var(--accent-color);
    padding: 16px 32px;
    color: var(--light-color);
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    transition: 0.3s;
}

.base__button:hover {
    background-color: var(--accent-hover-color);
    transition: 0.3s;
}

