.header {
    background-color: var(--back-color);
}

.header__container {
    max-width: 1320px;
    margin: auto;
    display: grid;
    grid-template-columns: 140px 1fr 80px;
}

.logo-container {
    z-index: 2;
}

.header__logo {
    height: 120px;
    width: 120px;
    margin-left: 40px;
}

.header-menu {
    margin: auto auto auto auto;
    display: none;
}

.header__link {
    color: var(--text-color);
    font-family: 'Cormorant Garamond', serif;
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
 }

.header__link-underline {
    --underline-length: 0px;
    margin: 40px auto;
    max-width: 120px;
}

.header__link-underline:hover {
    --underline-length: 100%;
}

.underline {
    height: 2px;
    margin-bottom: 12px;
    width: var(--underline-length);
    background-color: var(--text-color);
    transition: 0.3s ease-in-out;
}

.navigation-burger {
    --burger-color: var(--text-color);
    display: block;
    position: relative;
    width: 32px;
    height: 0px;
    padding: 14px 0px 16px 0px;
    cursor: pointer;
    z-index: 5;
    margin: auto;
    transition: 0.3s;
}

.navigation-burger span,
.navigation-burger::before,
.navigation-burger::after {
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: var(--burger-color);
    transition: all 0.5s ease-in-out;
}

.navigation-burger:hover {
    --burger-color: var(--accent-hover-color);
    transition: 0.3s;
}

.navigation-burger span {
    transform: scale(1);
}

.navigation-burger::before,
.navigation-burger::after {
    content: " ";
}

.navigation-burger::before {
    top: 0;
}

.navigation-burger::after {
    bottom: 0;
}

.navigation-burger.active span {
    transform: scale(0);
}

.navigation-burger.active::before {
    top: 14px;
    transform: rotate(-45deg);
}

.navigation-burger.active::after {
    bottom: 14px;
    transform: rotate(45deg);
}

.header-socials {
    margin: auto 40px auto auto;
    --social-color: var(--accent-color);
    --insta-color: var(--text-color);
    transition: 0.3s;
    z-index: 1;
}

.header-socials:hover {
    --social-color: var(--accent-hover-color);
    --insta-color: var(--accent-color);
    transition: 0.3s;
}

.header__social > img {
    height: 40px;
    width: 40px;
    background-color: var(--social-color);
    transition: 0.3s;
    margin-right: 8px;
}

.header__social {
    font-family: 'Cormorant Garamond', serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 0.9;
    color: var(--insta-color);
    text-decoration: none;
    display: flex;
}

.header__insta-text {
    display: none;
}

.navigation-wrapper {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--back-color);
    z-index: 1;
    transition: top 0.3s ease-in;
    overflow: hidden;
    margin: 0 auto;
    z-index: 0;
    text-align: center;
}

.navigation-wrapper.active {
    top: 0;
}

@media (min-width: 704px) {
.header__insta-text {
    display: contents;
}

.header__container {
    grid-template-columns: 200px 1fr 200px;
}
}

@media (min-width: 896px) {
    .header-menu {
        display: flex;
    }
    .navigation-burger {
        display: none;
    }
    .header__link-underline {
        margin: 24px 40px auto auto;
    }

    .underline {
        margin-bottom: 12px;
    }
}